



 .image-container {
    position: relative;
    width: 100%;
    height: auto; 
    /* overflow: hidden; */
    text-align: center;
    /* padding-bottom: 10px;  */
    display: flex;
    flex-direction: column; 
    justify-content: center;
}

.image-container div{
    transition: opacity 1s ease-in-out;
}

.image-container img {
    object-fit: contain;
    width: 100%;
    height: 300px; 
    transition: opacity 1s ease-in-out;
}

.image-container p {
    margin-top: 10px; 
    transition: opacity 1s ease-in-out;
    white-space: normal;
    word-wrap: break-word;
    box-sizing: border-box;
}

.fade-image.fade-in {
    opacity: 1;
}

.fade-image.fade-out {
    opacity: 0;
}

@media (max-width: 480px) {
    .image-container p {
        font-size: 0.8em; 
        padding: 6px;
    }
}
